/* COLOUR PALLETE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
:root{
    --head-foot:            #47ABD8;
    --nav:                  #95D2EC;
    --nav2:                 #47ABD8;
    --main-bg:              #E7F9FF;
    --error:                #FF0000;
    --white:                #FFFFFF;
    --light-blue-4:         #E7F9FF;
    --light-blue-3:         #CAE1FF;
    --light-blue-2:         #B0E0E6;
    --light-blue-1:         #95D2EC;
    --blue:                 #47ABD8;
    --text:                 #333333;
    --subtext:              #111111;
    --title:                #000000;
}

/* FONT >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LAYOUT >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--main-bg);
}

header, footer {
    padding: 10px 50px;
    background-color: var(--head-foot);
}

/* HEADER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

header { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 50px;
    z-index: 1000;
}

header h1 {
    margin: 0;
    padding-left: 40px;
    background: url(/images/favicon.png) no-repeat left / 36px;
}

header a {
    color: inherit;
    text-decoration: none;
}

header div {
    text-align: right;
}

header a img {
    width: 36px;
    height: 36px;
}

/* NAVBAR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 50px;
    background: var(--nav);
    width: 100%;
    height: 50px;
    margin-top: 50px;       /* !NOTE: HEIGHT OF HEADER */
}

nav a {
    padding: 5px 10px;
    color: var(--text);
    background: var(--nav);
    text-decoration: none;
    white-space: nowrap;
    height: 100%;
}

nav a:hover {
    background: var(--nav2);
}

nav div {
    flex: 1;
    bottom: 1;
}

/* cart and login button >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>. */
.member-auth-buttons {
    position: absolute;
    top: 50px;
    right: 20px;
    display: flex;
    gap: 10px;}

.poster {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden; 
}

.poster img {
    width: 100%;
    max-width: 1500px;
    height: auto;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1.5s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* navigation bar >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.nav-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #007bff;
}

.nav-links a {
    display: flex;
    justify-content: center;
    align-items: center;   
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 20px 10px;
    transition: background 0.3s;
    background-color: #007bff;
}

.nav-links a:hover {
    background-color: #0056b3;
}

/* search bar >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>. */
.search-bar {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.search-bar input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 25vw;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.search-bar button:hover {
    background-color: #0056b3;
}

/* MAIN >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
main {
    top: 0;
    left: 0;
    right: 0;
    flex: 1;
    padding: 20px 50px;
    width: 100%;
    margin-top: 100px;      /* !NOTE: HEIGHT OF HEADER + NAVBAR */
}

main h1 {
    margin-top: 0;
}

/* FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* ERROR MESSAGE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.err {
    color: var(--error);
    font-weight: bold;
}

/* INDEX PAGE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.poster {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden; 
}

.poster img {
    width: 100%;
    max-width: 1500px;
    height: auto;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1.5s ease-out forwards;
}

.container .product img{
    height: 100px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}